<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.dao.DeviceMapper">
    <resultMap id="Base_Resul_tMap" type="com.tony.domain.Device">
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="Base_Resul_tMap_" type="com.tony.domain.SensorData">
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- sensorData 表 -->
    <insert id="addSensorData" parameterType="map">
        insert into
            sensordata(
                sensorId,
                samplingData
            )
        values
            (
                (SELECT id FROM device WHERE device.`deviceName` = #{deviceName} and device.deviceSecret = #{deviceSecret}),
                #{sensorData}
            )
    </insert>
    <select id="sensorDataList" parameterType="com.tony.domain.Device" resultType="com.tony.domain.SensorData">
        -- 每分钟的平均值
        SELECT
            sensordata.sensorId,
            AVG(sensordata.samplingData) samplingData,
            DATE_FORMAT(sensordata.samplingTime, "%Y-%m-%d %H:%i:00") AS samplingTime
        FROM
            sensordata
        WHERE
            sensordata.sensorId = (SELECT device.id FROM device WHERE device.`deviceName`= #{deviceName} AND device.`deviceSecret`= #{deviceSecret})
        GROUP BY
            DATE_FORMAT(sensordata.samplingTime, "%Y-%m-%d %H:%i:00")
    </select>
    <!--获取最新的传感器数据-->
    <select id="getLatestSensorData" parameterType="int" resultType="com.tony.domain.SensorData">
        SELECT * FROM sensordata WHERE sensorId = #{id} ORDER BY samplingTime DESC LIMIT 1
    </select>
    <!-- 获取所有设备，有条件 -->
    <select id="getDeviceByPageAndKeyword" parameterType="map" resultType="com.tony.domain.Device">
        -- 条件、分页查询 选取device所有信息
        SELECT * FROM
        (
            SELECT
            device.`id`, device.`deviceName`, device.`remarks`,
            device.switchState, device.`unit`,
            device.roomId, room.`name` roomName, device.`deviceTypeId`,
            deviceType.`typeName` deviceTypeName, deviceType.describe deviceTypeDescribe, device.`isMultiSwitch`,
            device.deviceSecret, device.`pic`, device.`ownerId`, device.currentMultiSwitchState,
            device.latestUpdateTime
            FROM
            device, deviceType, room
            WHERE
            deviceType.`id` = device.`deviceTypeId`
            AND (device.`roomId` = room.`id` OR device.`roomId` IS NULL)
            GROUP BY device.`id`
        ) t1
        WHERE
        ownerId = #{ownerId}
        <if test="keyword!=null">
            AND remarks LIKE "%"#{keyword}"%"
        </if>
        <if test="roomName!=null">
            AND roomName = #{roomName}
        </if>
        <if test="typeName!=null">
            AND deviceTypeName = #{typeName}
        </if>
        order by id
        LIMIT
        #{index}, #{rows}
    </select>
    <!--获取多状态设备的描述-->
    <select id="getMultiSwitchStates" parameterType="int" resultType="com.tony.domain.MultiSwitchState">
        SELECT * FROM multistateswitch WHERE deviceId = #{id}
    </select>
    <!--获取设备所有数量，条件筛选过的-->
    <select id="getDeviceTotalCountOnCondition" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM
            (
                SELECT
                device.`remarks`,
                room.`name` roomName,
                deviceType.`typeName` deviceTypeName,
                device.`ownerId`
                FROM
                device, deviceType, room
                WHERE
                deviceType.`id` = device.`deviceTypeId`
                AND (device.`roomId` = room.`id` OR device.`roomId` IS NULL)
                GROUP BY device.`id`
            ) t1
        WHERE
        ownerId = #{ownerId}
        <if test="keyword!=null">
            AND remarks LIKE "%"#{keyword}"%"
        </if>
        <if test="roomName!=null">
            AND roomName = #{roomName}
        </if>
        <if test="typeName!=null">
            AND deviceTypeName = #{typeName}
        </if>
    </select>
    <!--设置设备状态-->
    <update id="setDeviceSwitchStateByDeviceTypeNameAndDeviceName" parameterType="com.tony.domain.Device">
        UPDATE
            device
        SET
            switchState = #{switchState},
            latestUpdateTime = now()
        WHERE
            deviceName = #{deviceName}
            AND deviceSecret = #{deviceSecret}
    </update>
    <!--deviceTypeId = (SELECT id FROM devicetype WHERE typeName = #{deviceTypeName})-->
    <!--设置多状态设备的状态-->
    <update id="setDeviceMultiSwitchStateByDeviceTypeNameAndDeviceName" parameterType="com.tony.domain.Device">
        UPDATE
            device
        SET
            currentMultiSwitchState = #{currentMultiSwitchState},
            latestUpdateTime = NOW()
        WHERE
            deviceName = #{deviceName}
            AND deviceSecret = #{deviceSecret}
            AND #{currentMultiSwitchState} IN
            (SELECT * FROM (
            SELECT multistateswitch.switchState FROM
                multistateswitch
            WHERE
                multistateswitch.deviceId =
                (SELECT d1.id FROM device d1 WHERE
                    d1.deviceName = #{deviceName}
                    AND d1.deviceSecret = #{deviceSecret}
                )
            ) t1
        )
    </update>
    <!--d1.deviceTypeId = (SELECT devicetype.id FROM devicetype WHERE devicetype.typeName = #{deviceTypeName})-->
    <!--deviceTypeId = (SELECT id FROM devicetype WHERE typeName = #{deviceTypeName})-->
    <!-- 获取一个设备,所有信息 -->
    <select id="getOneDeviceByDeviceNameAndDeviceSecret" parameterType="com.tony.domain.Device" resultType="com.tony.domain.Device">
        SELECT * FROM
        (SELECT
        device.`id`, device.`deviceName`, device.`remarks`,
        device.switchState, device.`unit`,
        device.roomId, room.`name` roomName,
        device.`deviceTypeId`,
        deviceType.`typeName` deviceTypeName, deviceType.describe deviceTypeDescribe, device.`isMultiSwitch`,
        device.deviceSecret, device.`pic`, device.`ownerId`, device.currentMultiSwitchState,
        device.latestUpdateTime
        FROM
        device, deviceType, room
        WHERE
        deviceType.`id` = device.`deviceTypeId`
--         AND device.`roomId` = room.`id`
        AND (device.`roomId` = room.`id` OR device.`roomId` IS NULL)
        GROUP BY device.`id`
        ) t1
        WHERE
        `deviceName`= #{deviceName}
        and `deviceSecret` = #{deviceSecret}
        and `ownerId` = #{ownerId}
    </select>
    <!--获取所有设备-->
    <select id="getDeviceByDeviceTypeNameAndDeviceName" parameterType="com.tony.domain.Device" resultType="com.tony.domain.Device">
        select
            *
        from
            device
        where
            deviceTypeId = (SELECT id FROM devicetype WHERE typeName = #{deviceTypeName})
            AND deviceName = #{deviceName}
            AND deviceSecret = #{deviceSecret}
    </select>
    <!--添加一个设备-->
    <insert id="addOneDevice" parameterType="com.tony.domain.Device" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
	        device(ownerId, deviceName, remarks, deviceTypeId, isMultiSwitch, deviceSecret<if test="roomId!=-1">, roomId</if><if test="pic!=null">, pic</if>)
        VALUES
	        (
	            #{ownerId},
	            #{deviceName}, #{remarks},
	            (SELECT id FROM deviceType WHERE typeName=#{deviceTypeName}),
	            #{isMultiSwitch}, #{deviceSecret}
                <if test="roomId!=-1">, #{roomId}</if>
                <if test="pic!=null">, #{pic}</if>
            )

    </insert>
    <!-- 更新设备 -->
    <update id="updateOneDevice" parameterType="com.tony.domain.Device">
        UPDATE
        device
        SET
        deviceName = #{deviceName},
        remarks = #{remarks},
        <if test="roomId!=-1">roomId = #{roomId},</if>
        <if test="roomId==-1">roomId = null,</if>
        <if test="pic!=null">pic = #{pic}</if>
        WHERE
        id = #{id}
        AND deviceSecret = #{deviceSecret}
    </update>
    <!--添加多状态设备-->
    <insert id="addDeviceMultiStateSwitch" parameterType="com.tony.domain.Device">
        INSERT INTO
	        multiStateSwitch(deviceId, switchState, `describe`)
        VALUES
            <foreach collection="multiSwitchStates" item="i" separator=",">
                (#{id}, #{i.switchState}, #{i.describe})
            </foreach>
    </insert>
    <delete id="deleteDeviceMultiStateSwitch" parameterType="com.tony.domain.Device">
        DELETE FROM multistateswitch WHERE deviceId = #{id}
    </delete>
    <!-- deviceType 表 -->
    <select id="getAllDeviceType" resultType="com.tony.domain.DeviceType">
        select * from deviceType
    </select>
    <!-- device表 -> sensor -->
    <insert id="addOneSensor" parameterType="com.tony.domain.Device">
        INSERT INTO
            device(ownerId, deviceTypeId, deviceName, remarks, unit, deviceSecret<if test="roomId!=-1">, roomId</if><if test="pic!=null">, pic</if>)
        VALUES
            (#{ownerId}, 5, #{deviceName}, #{remarks}, #{unit}, #{deviceSecret}<if test="roomId!=-1">, #{roomId}</if><if test="pic!=null">, #{pic}</if>);
    </insert>
    <!-- device -> 更新sensor -->
    <update id="updateOneSensor" parameterType="com.tony.domain.Device">
        UPDATE
            device
        SET
            deviceName = #{deviceName},
            remarks = #{remarks},
            <if test="roomId!=-1">roomId = #{roomId},</if>
            <if test="roomId==-1">roomId = null,</if>
            <if test="pic!=null">pic = #{pic},</if>
            unit = #{unit}
        WHERE
            id = #{id}
            AND deviceSecret = #{deviceSecret}
    </update>
    <!-- device表 获取图片路径 -->
    <select id="getDevicePicByIdAndDeviceSecret" parameterType="com.tony.domain.Device" resultType="string">
        select pic from device where id = #{id} and deviceSecret = #{deviceSecret}
    </select>
    <!--获取device的id-->
    <select id="getDeviceIdByDeviceSecretAndDeviceName" parameterType="com.tony.domain.Device" resultType="com.tony.domain.Device">
        select device.*, deviceType.typeName deviceTypeName
        from device, deviceType
        where
            device.`deviceName` = #{deviceName}
            AND device.`deviceSecret` = #{deviceSecret}
            AND device.deviceTypeId = deviceType.id
    </select>
<!--    &#45;&#45;             device.`ownerId` = #{ownerId}-->
    <!--删除sensorData-->
    <delete id="deleteSensorDataById" parameterType="int">
        DELETE FROM sensordata WHERE sensorId = #{id}
    </delete>
    <!--删除Event-->
    <delete id="deleteEventByDeviceId" parameterType="int">
        DELETE FROM event WHERE triggerDeviceId = #{id}
    </delete>
    <!--删除EventTriggerStep-->
    <delete id="deleteEventTriggerStepByDeviceId" parameterType="int">
        DELETE FROM eventtriggerstep WHERE eventId = (
            SELECT id FROM EVENT WHERE triggerDeviceId = #{id}
        )
    </delete>
    <!--删除device-->
    <delete id="deleteDeviceById" parameterType="int">
        delete from device where id = #{id}
    </delete>
    <!--Event 表-->
    <!--获取Event-->
    <select id="getEventByDeviceId" parameterType="com.tony.domain.Event" resultType="com.tony.domain.Event">
        select * from event where triggerDeviceId = #{triggerDeviceId}
    </select>
    <!--EventTriggerStep 表-->
    <select id="getEventTriggerStepByEventId" parameterType="int" resultType="com.tony.domain.EventTriggerStep">
        SELECT
            eventTriggerStep.`id`, eventTriggerStep.`eventId`,
            eventTriggerStep.`switchState`, device.`id` deviceId,
            device.`deviceName`, device.`deviceSecret`,
            deviceType.`typeName`  deviceTypeName, eventTriggerStep.isMultiSwitch
        FROM
            eventTriggerStep, device, deviceType
        WHERE
            eventTriggerStep.eventId = #{id}
            AND eventTriggerStep.`deviceId` = device.`id`
            AND deviceType.`id` = device.`deviceTypeId`
    </select>
    <!--增加一个Event-->
    <insert id="addOneEvent" useGeneratedKeys="true" keyProperty="id" parameterType="com.tony.domain.Event">
        INSERT INTO
            EVENT(modeName, `DESCRIBE`, triggerDeviceId, triggerThreshold, comparisonOperator, triggerState, active, autoSendEmail)
        VALUES
            (
                #{modeName}, #{describe}, #{triggerDeviceId},
                #{triggerThreshold}, #{comparisonOperator},
                #{triggerState}, #{active}, #{autoSendEmail}
            )
    </insert>
    <!--增加一个EventTriggerStep-->
    <insert id="addOneEventTriggerStep" parameterType="com.tony.domain.EventTriggerStep">
        insert into
            eventtriggerstep(eventId, deviceId, switchState, isMultiSwitch)
        values
            (#{eventId}, #{deviceId}, #{switchState}, #{isMultiSwitch})
    </insert>
    <!--获取用户信息-->
    <select id="getUserInfoById" parameterType="int" resultType="com.tony.domain.User">
        select * from user where id = #{id}
    </select>
</mapper>